#główna {
    width: 100%;
}

#menu {
    background: rgb(255, 204, 145);
}

#flexbox {
    min-height:100vh;
    height:100%;
}

.opóźniony {
    background: orange;
}

.odwołany {
    background: red;
}

img {
    height: auto;
    margin-left: auto;
    margin-right: auto
}

body {
    background-color: beige;
    text-align: center;
    font-size: 20px;
    margin: 0;
}

footer {
    background-color: rgb(150, 202, 248);
    color: grey;
    font-family: sans-serif;
    font-size: 15px;
    width: 350px;
}

p {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

table {
    border: thick double;
    border-collapse: collapse;
    border-color: navy;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

table th, table td {
    border: solid;
    border-color: aquamarine;
    padding: 12px;
}
ol {
    list-style-position: inside;
}
li {
    text-align: left
}