.grid {
    display: grid;
    grid-template-columns: 250px auto auto auto auto;
    grid-column-gap: 15px;
    height: 100vh;
}

@media screen and (max-width: 1300px) {
    .grid {
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        grid-column-gap: 0;
        height: 100vh;
    }
}

.menu {
    background-color: rgb(255, 204, 145);
    font-family: monospace;
    font-variant-caps: all-small-caps;
    white-space: nowrap;
    padding-left: 10px;
    padding-right: 10px;
    grid-column: 1/2;
}

.główna {
    background-color: #ffefcc;
    width: 100%;
    grid-column: 2 / 5;
}

.opóźnienia {
    background-color: rgb(255, 204, 145);
    padding-left: 20px;
    padding-right: 20px;
    grid-column: 5 / 6;
}

#lista_pasażerów {
    margin-left: calc(50% - 200px);
}

#lista_pasażerów li {
    background-color: antiquewhite;
    width: 350px;
}

#lista_pasażerów li:nth-child(even) {
    background-color: bisque;
}

#menu a:link, #menu a:visited {
    color: black;
    text-decoration: none;
}

#overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

#zarezerwowano {
    position: fixed;
    bottom: 50%;
    width: 100%;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    font-size: 30px;
}

.opóźniony {
    background: yellow;
    text-transform: uppercase;
}

.bardzo_opóźniony {
    background: orange;
    text-transform: uppercase;
}

.odwołany {
    background: lightcoral;
    text-transform: uppercase;
}

.popup {
    display: none;
}

li:hover .popup {
    display: inline;
}

img {
    height: auto;
    margin-left: auto;
    margin-right: auto
}

body {
    background-color: beige;
    text-align: center;
    font-size: 16px;
    margin: 0;
}

footer {
    background-color: rgb(150, 202, 248);
    color: grey;
    font-family: sans-serif;
    font-size: 15px;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
}

p {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

table {
    border: thick double;
    border-collapse: collapse;
    border-color: navy;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

table th, table td {
    border: solid;
    border-color: aquamarine;
    padding: 12px;
}

ol {
    list-style-position: inside;
}

li {
    text-align: left
}

ul {
    list-style: none;
    padding-left: 30px;
}